.card-body{
    padding:0;
    margin:0;
    /* background-color: gray; */
    height :100%;
}
.card-header{
    background-color: RGB(131, 211, 242);
}
.col-sm-10 {
    border-left: 12px solid RGB(84, 120, 168); 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;   
}
.row [class*="col-"]{
    margin-bottom:-99999px;
    padding-bottom:99999px;
}
::placeholder {
    font-style: italic;
}
i{
  color: RGB(29, 85, 110);
  text-decoration-color: RGB(99, 107, 106);
}
a{
    color: RGB(99, 107, 106);
} 
.row{
    overflow:hidden;
}
.table{
    height:100%;
    padding: 0;
    margin:0;
}
td{
    align-content: center;
    text-align: center;
} 