<div class="card mt-5">
    <h5 class="card-header">Electronic Health Record</h5>
    <div class="card-body">
        <!-- <div class="abc" id="side"> -->
            <table class="table table-borderless">
                <!-- <tbody>
                    <tr>
                        <td >
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"><i class="fa fa-user-md fa-4x" aria-hidden="true"></i>Doctor</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><i class="fa fa-file-image-o fa-4x" aria-hidden="true"></i>Imaging</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><i class="fa fa-flask fa-4x" aria-hidden="true"></i>Labs</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><i class="fa fa-book fa-4x" aria-hidden="true"></i>Records</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <p>This is a para. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </td>
                    </tr>
                </tbody> -->
                <div class="row">
                    <div class="col-sm-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#"><i class="fa fa-user-md fa-4x" aria-hidden="true"></i><br/>Doctor</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><i class="fa fa-file-image-o fa-4x"
                                                aria-hidden="true"></i><br/>Imaging</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><i class="fa fa-flask fa-4x" aria-hidden="true"></i><br/>Labs</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><i class="fa fa-book fa-4x" aria-hidden="true"></i><br/>Records</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="v1">

                    </div> -->
                    <div class="col-sm-10">
                        <!-- <form class="form-inline mr-auto"> -->
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input class="form-control my-0 py-1" type="text" placeholder="Find record, doctor, image, hospital, etc..." aria-label="Search">
                                <div class="input-group-append">
                                    <span class="input-group-text cyan lighten-2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>

                        <!-- <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button> -->
                        <!-- </form> -->
                        <p>This is a para. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            This is a para. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            This is a para. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                </div>
            </table>
        <!-- </div> -->
    </div>
</div>